.list {
  background-color: #f1f1f1;
  border-radius: 8px;
  min-width: 380px;
  height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &-header {
    background-color: #f1f1f1;
    color: #585858;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
    font-style: serif;
    .read-only {
      display: flex;
      align-items: center;
      column-gap: 16px;
      .edit-icon {
        width: 24px;
        display: block;
        &:hover {
          cursor: pointer;
        }
      }
    }
    input {
      height: 36px;
    }
  }
  .tasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    height: 100%;
    flex: 1;
    overflow-y: auto;
  }

  .create-task-container {
    margin-top: auto;
    padding: 16px;
    background: transparent;
    border-top: 1px solid #dddddd;
    .create-task-button {
      background-color: #d8d8d8;
      color: #3d3d3d;
      font-weight: bold;
      font-size: 20px;
      text-align: left;
      border: none;
      padding: 8px 16px;
      border-radius: 8px;
      cursor: pointer;
      width: 100%;
      &:hover {
        background-color: #c0c0c0;
      }
    }
  }
}
